<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807383540884-iriu6o1qfjjjspm6j3kckscfcdn4e4jk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807383540884-iriu6o1qfjjjspm6j3kckscfcdn4e4jk</string>
	<key>API_KEY</key>
	<string>AIzaSyCytdlSF_DffznlFXSlA3Jyd4er0MjA-u4</string>
	<key>GCM_SENDER_ID</key>
	<string>807383540884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pongpong.myapp</string>
	<key>PROJECT_ID</key>
	<string>helloworld-710b6</string>
	<key>STORAGE_BUCKET</key>
	<string>helloworld-710b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807383540884:ios:030b11b46c1bf90c08c081</string>
	<key>DATABASE_URL</key>
	<string>https://helloworld-710b6.firebaseio.com</string>
</dict>
</plist>